<h2>transactions works!</h2>
<button class="btn btn-success mb-3" (click)="addTransaction()">Add New Transaction</button>
<div *ngIf="transactions.length > 0; else noData">
  
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>           
            <th>Transaction Type</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.id }}</td>           
            <td>{{ transaction.transaction_Type }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.description }}</td>
            <td>
              <button class="btn btn-primary btn-sm" (click)="editTransaction(transaction)">Edit</button>
              <button class="btn btn-danger btn-sm" (click)="deleteTransaction(transaction)">Delete</button>
              <button class="btn btn-info btn-sm" (click)="selectTransaction(transaction)">Select</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  
  <ng-template #noData>
    <p>No transactions found for this account.</p>
  </ng-template>
  