/* You can add global styles to this file, and also import other style files */
nav {
    background: #007bff;
    padding: 10px;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  li {
    display: inline;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
